:root {
  --primary: #7936a5;
  --nav: #7936a56b;
  --primary-text: #ecd500;
  --secondary: #ecd500;
  --secondary-text: #ffffff;
  --accent: #4b4035;
  --accent-text: #ffffff;
  --avalanche-red: #e94d4d;
  --greyed: #686868;
}
